<h1> Sign into Game Reviews</h1>
<%=form_for :user do |t|%>
    <%= t.label :username%>
    <%= t.text_field :username%>
    <br>
    <%= t.label :password%>
    <%= t.password_field :passowrd%>
    <br>
    <%= submit_tag 'Login'%>
<% end %>