<h1> Hello, <%= @user.username%></h1>
<%= link_to 'Edit Profile', edit_user_path %><br><br>

<p>
    Welcome back to Game Reviews. Find out what your peers think of a game and write your own reviews!
</p>

<h3>Your Reviews</h3>
<%= @reviews.each do |t| %>
<%= link_to t.game.name, review_path(t) %>
<br>
<%= t.review %>
<% end %>