<h1><%= @game.name%></h1><br>

<%=label_tag :esrb_rating %>
<%= @game.esrb_rating%><br>
<%=label_tag :description %><br>
<%= @game.description%><br>
<%= link_to "Write Review", new_game_review_path(@game)%>

<h3>Reviews</h3>
<% @game.reviews.each do |t|%>
<ul>
    <li><%= t.review %><br>
    by: <%= t.user.username%></li>
</ul>
<% end %>